:root {
  color-scheme: ligth-dark;

  /* Colours */
  --color-bg: light-dark(#fff5bc, #2e2d2d); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#ffd6ec, #9e5f5f);

  /* Logotype */
  --color-logotype-bg: light-dark(#80b272, #4d6e4d);
  --color-text-logotype: light-dark(black, white);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#80b272, #4d6e4d);
  /* Links */
  --color-link-bg: light-dark(#97c2cc, #805d6d);
  --color-link-hover: light-dark(#97c2cc, #805d6d); /* used */
  --color-link-active: light-dark(#80b272, #4d6e4d); /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2.2rem;
  --font-sub1-size: 1.5rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#ffd6ec, #9e5f5f);
  --color-headline-text-page: light-dark(black, white);

  /* Tekst */
  --color-text: light-dark(black, white);
  --color-text-inverted: light-dark(black, white);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(white, grey);
  --color-cta-card-bg: light-dark(#97c2cc, #805d6d);
  /* news-cards */
  --color-news-bg: light-dark(white, grey);
  --color-news-bg-inverted: light-dark(#80b272, #4d6e4d);
  --color-cta-newscard-bg: light-dark(#97c2cc, #805d6d);
  --color-cta-newscard-bg-inverted: light-dark(#97c2cc, #805d6d);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1.5rem;
  --headline3-size: 1.25rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(white, grey);
  --color-infobox-1-bg: light-dark(#80b272, #4d6e4d);
  --color-infobox-2-bg: light-dark(#97c2cc, #805d6d);
}

html.dark {
  color-scheme: dark;
}
