:root {
  /* Colours */
  --color-bg: #fff5bc; /* page background /*

  /* Header */
  --color-head-bg: #ffd6ec;

  /* Logotype */
  --color-logotype-bg: #80b272;
  --color-text-logotype: black;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #acd89f;
  /* Links */
  --color-link-bg: #c49dbe;
  --color-link-hover: #ffd6ec; /* used */
  --color-link-active: #80b272; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #ffd6ec;
  --color-headline-text-page: black;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #000000;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: white;
  --color-cta-card-bg: #b2849d;
  /* news-cards */
  --color-news-bg: white;
  --color-news-bg-inverted: #97c2cc;
  --color-cta-newscard-bg: #b2849d;
  --color-cta-newscard-bg-inverted: #b2849d;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #80b272;
  --color-infobox-2-bg: #97c2cc;
}
