#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--color-news-bg);
  padding: 20px;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/*****/

form {
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea,
input[type="range"] {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}

button {
  margin: 1.5rem;
  background-color: var(--color-link-bg);
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
}

button:hover {
  background: #555;
}

.radio-container {
  display: flex;
  gap: 20px; /* afstand mellem knapperne */
}

.radio-item {
  display: flex;
  flex-direction: column; /* tekst over knap */
  align-items: center; /* centrerer tekst over knap */
}
